/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/debugbar
/backend/storage/framework/cache
/backend/storage/framework/sessions
/backend/storage/framework/testing
/backend/storage/framework/views
/backend/storage/logs
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.eslintcache
/backend/.buildpath
/backend/.project
/backend/.settings
/backend/coverage
/ai_service/venv
/ai_service/__pycache__
/ai_service/.pytest_cache
/ai_service/.env
/db-data
/redis-data
.env
.DS_Store
